body{
    font-family: 'Montserrat', sans-serif;
}

.main-area{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.hero-image img{
    width: 100%;
    height: auto;
}